@model Hypermarine.Models.Comment

@{
    ViewBag.Title = "Edit Comment";
}

<h2>Edit Comment</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.Id)

    @Html.LabelFor(c => c.Text, "Text")
    @Html.TextAreaFor(c => c.Text, 5, 40, null)

    <button type="submit">Update</button>
    <a href="@Url.Action("Index")">Cancel</a>
}