<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather|Open+Sans|Poppins" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/styles.css">
</head>

<body>
    <header>
        <div id="logo-container">
            <div id="logo">
                <a href="Index" id="logo-link">Hypermarine</a>
            </div>
        </div>
        <div id="controls-container">
            <div id="username-container">
                <div id="username">
                    <span>Hello! You are not signed in.</span>
                </div>
            </div>
            <div id="login-button-container">
                <div id="login-button">
                    <a href="#" id="login">Login</a>
                </div>
            </div>
        </div>
    </header>
    
    @RenderBody()

</body>
</html>